.swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.swiper-pagination-bullet {
    height: 20px;
    width: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bcbdfb;
}
.swiper-pagination-bullet-active {
    background: #bcbdfb;
    color: #f7f8f2;
}
@media (min-width: 1280px) {
    .swiper-pagination {
        order: 1;
        flex-direction: column;
        gap: 20px;
    }
    .swiper-wrapper {
        order: 2;
    }
    .swiper-pagination-bullet {
        font-size: 1rem;
        height: 25px;
        width: 25px;
    }
}
