.menu {
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
h1 {
    font-family: "Museoslab";
}
.menu span {
    display: block;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
}

.effect span:first-child {
    transform: rotate(45deg);
}
.effect span:nth-child(2) {
    opacity: 0;
}
.effect span:last-child {
    transform: rotate(-45deg);
}
.links {
    transition: all 0.5s;
}
.inactive {
    display: none;
}
.nav-links {
    position: relative;
    transition: all 0.4s ease;
}
@media (min-width: 1024px) {
    .nav-links::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        background: #0b1e5b;
        transition: 0.4s ease;
        bottom: 0;
        left: 0;
        transform: scale(0, 1);
        border-radius: 10px;
    }
    .nav-links:hover::after {
        transform: scale(1, 1);
    }
}
